In [3]:
import joblib
# Cargar DataFrame desde archivo
df_cargado = joblib.load('data/df_transformado.pkl')

# Confirmar la carga
df_cargado.head()

,CreditScore,DebtRatio,Assets,Age,NumberOfDependents,NumberOfOpenCreditLinesAndLoans,MonthlyIncome,NumberOfTimesPastDue,EmploymentLength,YearsAtCurrentAddress,...,HomeOwnership_Own,HomeOwnership_Rent,Education_Bachelor,Education_High School,Education_Masters,Education_PhD,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_Widowed
0,384,0.016560,37950,20,0,2,17355,9,28,18,...,0,0,1,0,0,0,1,0,0,0
1,516,0.138825,22909,46,5,8,7175,13,0,9,...,0,1,1,0,0,0,0,1,0,0
2,638,0.391149,126521,80,5,7,1910,6,25,9,...,0,1,1,0,0,0,0,0,1,0
3,363,0.463521,39543,54,9,0,19339,5,22,3,...,1,0,0,1,0,0,0,0,0,1
4,804,0.504824,38522,72,1,10,7928,18,19,5,...,1,0,0,0,0,1,0,1,0,0